section.city-section
  .wrapper
    .city-section__container
      h2.city-section__title.font-w-semi-bold.font-s-55.text-up
        | Присоединяйтесь к 
        br.no-br
        | франшизе «WAYS2DO»
      .city-section__sub-title.font-s-26
        | и зарабатывайте от 15,8 млн чистой 
        br.no-br
        | прибыли в год
      .city-section__bottom
        span.font-w-medium.font-s-24 Проверьте, свободен ли ваш город для работы с нами
        form.city-section__form(data-feedback-form)
          input(type="text" name="honeyfield" class="honeypot" style="display:none")
          input.input(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Проверить
