section.details-section
  .wrapper
    .details-section__container
      h2.details-section__title.font-w-semi-bold.font-s-40.text-up Погрузитесь в работу бизнеса
      .details-section__sub-title.font-w-medium.font-s-24
        | Оставьте заявку на консультацию, где мы 
        br.no-br
        | расскажем вам:
      .details-section__box
        .swiper-bullet
          .details-section__cards.swiper-wrapper
            .details-section__card.swiper-slide
              .details-section__card-dot
              span.font-w-medium.font-s-24 Из чего состоит ежедневная работа владельца компании
            .details-section__card.swiper-slide
              .details-section__card-dot
              span.font-w-medium.font-s-24 Кто ваша целевая аудитория и как ее привлечь
            .details-section__card.swiper-slide
              .details-section__card-dot
              span.font-w-medium.font-s-24 На что обращать внимание при ценообразовании
            .details-section__card.swiper-slide
              .details-section__card-dot
              span.font-w-medium.font-s-24 Как правильно позиционировать себя на рынке
            .details-section__card.swiper-slide
              .details-section__card-dot
              span.font-w-medium.font-s-24 Какие маркетинговые инструменты работают
            .details-section__card.swiper-slide
              .details-section__card-dot
              span.font-w-medium.font-s-24 Что будет входить в ваши стартовые инвестиции
            .details-section__card.swiper-slide
              .details-section__card-dot
              span.font-w-medium.font-s-24 Как быстро вы окупите ваши вложения
          .bullet-pagination
      form.details-section__form(data-feedback-form)
        input(type="text" name="honeyfield" class="honeypot" style="display:none")
        input.input.input--white(type="text" name="name" autocomplete="off" placeholder="Ваше имя")
        input.input.input--white(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn.btn--white(type="submit") ОСТАВИТЬ ЗАЯВКУ
