footer.footer
  .wrapper
    .footer__container
      .footer__brand-block
        img.footer__logo(src="images/logo.svg" loading="lazy" width="107" height="107" alt="logo")
        .footer__brand.font-s-14
          span.font-w-bold «WAYS2DO»
          span.font-w-medium Франшиза компании по сдаче <br> квартир в посуточную аренду
      a.footer__privacy.font-w-i-regular.font-s-16(href="#" data-remodal-target="privacy").agree-privacy Политика конфиденциальности
      a(href="tel:+70000000000")
        .footer__connection
          include ../components/phone-number.pug
