header.header-thanks
  .header-thanks__container
    .header-thanks__brand-block
      img.header-thanks__logo(src="images/logo.svg" loading="lazy" width="107" height="107" alt="logo")
      .header-thanks__brand.font-s-14
        span.font-w-bold «WAYS2DO»
        span.font-w-medium Франшиза компании по сдаче <br> квартир в посуточную аренду
    a(href="tel:+70000000000")
      .header-thanks__connection
        include ../components/phone-number.pug
