section.reasons-section
  .wrapper
    .reasons-section__container
      h2.reasons-section__title.font-w-semi-bold.font-s-40.text-up Почему «WAYS2DO»
      .reasons-section__sub-title.font-w-medium.font-s-24 4 причины открыть бизнес по нашей франшизе
      .swiper-bullet
        .reasons-section__cards.swiper-wrapper
          .reasons-section__card.swiper-slide
            span.font-w-semi-bold.font-s-24-a Готовая концепция
            span.font-w-medium.font-s-19-a
              | Вы будете предлагать клиентам комфортное 
              br.no-br
              | жилье и высокий уровень сервиса, занимая 
              br.no-br
              | лидирующее позиции на рынке вашего 
              br.no-br
              | города
          .reasons-section__card.swiper-slide
            span.font-w-semi-bold.font-s-24-a 2 формата работы
            span.font-w-medium.font-s-19-a
              | Вы сможете самостоятельно выбрать для 
              br.no-br
              | себя направление работы и сдавать только 
              br.no-br
              | однокомнатные квартиры или 
              br.no-br
              | двухкомнатные
          .reasons-section__card.swiper-slide
            span.font-w-semi-bold.font-s-24-a Бизнес-модель
            span.font-w-medium.font-s-19-a
              | Вы получите проверенную бизнес-модель 
              br.no-br
              | для выбранного формата и легко сможете 
              br.no-br
              | организовать все процессы бизнеса
          .reasons-section__card.swiper-slide
            span.font-w-semi-bold.font-s-24-a Быстрый старт
            span.font-w-medium.font-s-19-a
              | Вы запустите работу компании всего за 22 
              br.no-br
              | дня, при поддержке нашей команды, и 
              br.no-br
              | начнете зарабатывать сразу после открытия
        .bullet-pagination
      .reasons-section__text.font-w-medium.font-s-24 Получите подробный план запуска бизнеса
      button.btn.btn--reasons.reasons-section__btn(data-remodal-target="modal-form-plan") ПОЛУЧИТЬ
