section.thanks-section
  .thanks-section__container
    h1.thanks-section__title.font-w-semi-bold.font-s-37.text-up
      | НАШИ МЕНЕДЖЕРЫ УЖЕ ЗАНИМАЮТСЯ 
      br
      | ВАШЕЙ ЗАЯВКОЙ
    p.thanks-section__inner-text.font-w-medium.font-s-24
      | Мы свяжемся с Вами в ближайшее время
    a.btn.btn--white(href="index.html") Вернуться на главную
